<p>Welcome, <%=  @diabetic.name %></p>
<h3> Here are your most recent records </h3>
<%= @records.each_with_index do |record, index| %>
  <%= index %>
  <%= render partial: 'shared/record', locals: {record: record} %><br>
  </span>
<% end  %>
