/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


  /* CREATE ACCOUNT */

  body {
    background-size: 100%;
    /*background: #99D6FF url("blurry-colors.jpg");*/
    background: #99D6FF url("blurry-blue-glass.jpg");
  }

  #content {
    width: 75%;
    max-width: 1000px;
  }

  #logo {
    width: 25%;
    height: 26.4%;
    margin: auto;
    margin-top: 10%;
  }

  #logo img {
    width: 100%;
    margin: 0 auto;
  }

  .submit {
    border: none;
    border-radius: 5px;
    background-color: #5959FF;
    display: block;
    width: 25%;
    height: 7%;
    margin: auto;
    margin-top: 8%;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 170%;
    color: white;
  }


  .signup {
    border-radius: 5px;
    background-color: #F56060;
    width: 25%;
    height: 7%;
    font-family: inherit;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .signup a {
    font-family: inherit;
    color: white;
    font-size: 170%;
    text-decoration: none;
  }

  #username, #password {
    display: block;
    text-align: center;
    height: 40px;
    width: 30%;
    font-size: 170%;
    margin-top: 1%;
    border-radius: 5px;
    margin: 8px auto;
  }


  .account-title {
    text-align: center;
  }

  #none-button {
    visibility: hidden;
  }


/************************************************
                        TABLET
*************************************************/

@media only screen and (max-width: 1024px) {

/* CREATE ACCOUNT */

  body {
    background-size: auto;
    /*background: #99D6FF url("blurry-colors-medium.jpg");*/
    background: #99D6FF url("blurry-blue-glass-medium.jpg");
  }

  #content {
    width: 99%;
    height: 100%;
  }

  #logo {
    width: 25%;
    height: 26.4%;
    margin: auto;
    margin-top: 10%;
  }

  #logo img {
    width: 100%;
    margin: 0 auto;
  }

  .submit {
    border: none;
    border-radius: 5px;
    background-color: #5959FF;
    display: block;
    width: 25%;
    height: 7%;
    margin: 0 auto;
    margin-top: 8%;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 170%;
    color: white;
  }


  .signup {
    border-radius: 5px;
    background-color: #F56060;
    width: 25%;
    height: 7%;
    font-family: inherit;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .signup a {
    font-family: inherit;
    color: white;
    font-size: 170%;
    text-decoration: none;
  }

  #username, #password {
    display: block;
    text-align: center;
    height: 40px;
    width: 30%;
    font-size: 170%;
    margin-top: 2%;
    border-radius: 5px;
    margin: 8px auto;
  }


  .account-title {
    text-align: center;
  }


}


/************************************************
                        PHABLET
*************************************************/


@media only screen and (max-width: 675px) {

/* CREATE ACCOUNT */

  body {
    background-size: auto;
    /*background: #99D6FF url("blurry-colors-medium.jpg");*/
    background: #99D6FF url("blurry-blue-glass-medium.jpg");
  }

  #content {
    width: 99%;
    height: 100%;
  }

  #logo {
    width: 30%;
    height: 26.4%;
    margin: auto;
    margin-top: 10%;
  }

  #logo img {
    width: 100%;
    margin: 0 auto;
  }

  .submit {
    border: none;
    border-radius: 5px;
    background-color: #5959FF;
    display: block;
    width: 35%;
    height: 7%;
    margin: 0 auto;
    margin-top: 8%;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 170%;
    color: white;
  }


  .signup {
    border-radius: 5px;
    background-color: #F56060;
    width: 35%;
    height: 7%;
    font-family: inherit;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .signup a {
    font-family: inherit;
    color: white;
    font-size: 170%;
    text-decoration: none;
  }

  #username, #password {
    display: block;
    text-align: center;
    height: 40px;
    width: 40%;
    font-size: 170%;
    margin-top: 2%;
    border-radius: 5px;
    margin: 8px auto;
  }


  .account-title {
    text-align: center;
  }


}


/************************************************
                        MOBILE
*************************************************/

@media only screen and (max-width: 480px) {

  /* CREATE ACCOUNT */

  body {
    background-size: auto;
    /*background: #99D6FF url("blurry-colors-small.jpg");*/
    background: #99D6FF url("blurry-blue-glass-small.jpg");
  }

  #content {
    width: 98%;
    height: 100%;
  }

  #logo {
    width: 75%;
    height: 26.4%;
    margin: auto;
    margin-top: 2%;
  }

  #logo img {
    width: 100%;
    margin: 0 auto;
  }


  .submit {
    border: none;
    border-radius: 5px;
    background-color: #5959FF;
    display: block;
    width: 80%;
    height: 7%;
    margin: auto;
    margin-top: 15%;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 170%;
    color: white;
  }


  .signup {
    border-radius: 5px;
    background-color: #F56060;
    width: 80%;
    height: 7%;
    font-family: inherit;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .signup a {
    font-family: inherit;
    color: white;
    font-size: 170%;
    text-decoration: none;
  }

  #username, #password {
    height: 40px;
    width: 93.75%;
    font-size: 170%;
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 5px;
  }

  #account_username,
  #account_email,
  #account_password,
  #account_password_confirmation {
    margin: 8px auto;
  }

  .account-title {
    text-align: center;
  }


  /* ACCOUNT DASHBOARD */

  #title {
    text-align: center;
    color: #5959FF;
  }

  #menu_choice {
    position: relative;
  }
}