/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*body {
  padding: 0 1%;
  background: white;
}*/

/*.container {
  width: 100%;
  margin: 0 auto;
  border: 2px solid red;
  background-color: blue;
}

.topmenu {
  width: 95%;
}

.bottommenu {
  width: 90%
}

.content {
  width: 90%;
}


.footer {
  width: 95%;
  clear: both;
}

<<<<<<< HEAD
#none-button{
  visibility: hidden;
}
=======
.sign_up {
  width: 320px;
  margin: 0 auto;
  background: orange;
}

#account_username,
#account_email,
#account_password,
#account_password_confirmation {
  width: 300px;
  height: 40px;
  font-size: 22px;
  margin: 8px auto;
}*/



@media only screen and (max-width: 480px) {

  /* CREATE ACCOUNT */


  .content {
    width: 100%;
    height: 100%;
    /*width: 320px;
    height: 568px;*/
    /*margin: 0 auto;*/
    /*border: 2px solid red;*/

  }

  #logo {
    width: 93.75%;
    height: 26.4%;
    /*width: 300px;
    height: 150px;*/
    border: 2px black solid;
    margin: auto;
    margin-top: 10px;
  }

  .signup {
    border-radius: 5px;
    border: 2px black solid;
    width: 93.75%;
    height: 7%;
    /*width: 300px;
    height: 40px;*/
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    background-color: red;


  }



  .submit {
    color: white;
    border-radius: 5px;
    border: 2px black solid;
    width: 93.75%;
    height: 10.5%;
    /*width: 300px;
    height: 60px;*/
    margin: auto;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    background-color: blue;
    font-family:'Sigmar One', cursive;
    /*font-size: 25px;*/
    font-size: 170%;
    margin: 10px;
    margin-top: 30px;
  }

  .signup a{
    color: white;
    /*font-size: 25px;*/
    font-size: 170%;
    font-family:'Sigmar One', cursive;
    text-decoration: none;
  }

  #username, #password {
    /*width: 300px;*/
    height: 40px;
    width: 93.75%;
    font-size: 170%;
    margin-top: 10px;
    margin-left: 8px;

  }


  .account-title {
    text-align: center;
  }

  #account_username,
  #account_email,
  #account_password,
  #account_password_confirmation {
    width: 300px;
    height: 40px;
    font-size: 170%;
    margin: 8px auto;
  }


